.search-bar {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

input.input-text {
  border: none;
  border-radius: 10px;
  padding: 6px 20px;
  font-size: 90%;
}

input.input-text:focus-visible {
  outline: none;
}
